@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family-title: "Montserrat", sans-serif;
  --font-family-subtitle: "Montserrat", sans-serif;
  --font-family-main: "Montserrat", sans-serif;

  --font-size-title: 3rem;
  --font-size-subtitle: 2.5rem;
  --font-size-main: 16px;

  --font-weight-title: 700;
  --font-weight-subtitle: 500;
  --font-weight-main: 400;

  --color-primary: #b31312;
  --color-dark: #2b2a4c;
  --color-light: #eee2de;


    
    --font-family-title: 'Montserrat', sans-serif;
    --font-family-subtitle: 'Montserrat', sans-serif;
    --font-family-main: 'Montserrat', sans-serif;
  
    --font-size-title: 3rem;
    --font-size-subtitle: 2.5rem;
    --font-size-main: 16px;
  
    --font-weight-title: 700;
    --font-weight-subtitle: 500;
    --font-weight-main: 400;
  
    --color-primary: #B31312;
    --color-dark: #2b2a4c;
    --color-light: #eee2de;
  }
 
  * {
    font-family: var(--font-family-main);
    font-size: var(--font-size-main);

  }

  h2 {
    font-family: var(--font-family-subtitle);
    font-size: var(--font-size-subtitle);
    font-weight: var(--font-weight-subtitle);
  }
  
 